#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
  float: left;
}
body{
	text-align: center;
}
#canvas{
	background-color: #5F9EA0;
}
#score{
	color:yellow;
}
div{
	font-size: 150%;
}
#my-button{
	color:yellow;
	margin-bottom: 25px;
	margin-top: 25px;
}
h1{
	font-size: 200%;
	text-align: center;
}
#help{
	color: #9ACD32 ;
	margin-left:40px
}